*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #484eb5;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h1 {
    text-align: center;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 3em;
    font-weight: bold;
}

section {
    color: #ffffff;
}

section p {
    margin-bottom: 8px;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section .articles {
    text-align: center;
}

.articles article img {
    height: 100%;
    padding: 16px;
    margin: 16px auto;
    max-width: 50%;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}